<div class="container">
  <h1>Lists</h1>
  <p>Find me in app/views/lists/index.html.erb</p>
  <% @lists.each do |list|%>
  <ul>
    <li><%= link_to "#{list.id}- #{list.name}", list_path(list) %></li>
  </ul>
  <% end  %>
  <%= link_to "New List", new_list_path, class: "btn btn-primary" %>
</div>
